[ghq]
  root = ~/src
[pull]
  rebase = false
[init]
  defaultBranch = main
[alias]
  s = status
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset - %s%C(yellow)%d%Creset %Cgreen(%cr:%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso
  unstage = reset HEAD
  sp = stash pop
  ss = stash -u -m "wip"
	release = "!f() { git tag -a v$1 -m \"version $1\" && git push origin v$1; }; f"
[rebase]
  autostash = true
[include]
  path = ~/.gitconfig.local
